@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,300;0,600;1,200;1,300;1,500&display=swap");

.light {
  --primary-color: #eee3cb;
  /* --secondary-color: #967e76; */
  --icon-color: #9babb8;
  --info-color: #967e76;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--info-color);
}

i {
  font-size: 18px;
}

:root {
  --section-padding: 1rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.hidden {
  display: none;
}
.border-red {
  border: 1px solid red !important;
}
.border-yellow {
  border: 1px solid rgb(179, 179, 0) !important;
}
.border-green {
  border: 1px solid green !important;
}
